.header {
  object-fit: contain;
  padding: 10px;
  background: rgba(72, 112, 231, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 30px;
}
.header_image {
  object-fit: contain;
}
.header_signup {
  display: flex;
  flex-direction: column;
}
.header_modal {
  background: rgba(252, 253, 251, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
